* {
  font-family: sans-serif;
}
.App h1{
  margin-left: 20px;
}

.App form p {
  margin-left: 20px;
}

input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 20px;
}
input {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
  margin-left: 20px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}